.header {
    width: 90%;
    margin: auto;
    display: flex;
    height: 75px;
    text-align: center;
    line-height: 70px;
}

div.header a {
    text-decoration: none;
}

div.header div:nth-child(1) {
    flex-grow: 0.4;
    font-size: 25px;
    font-weight: bold;
}

div.header div:nth-child(1) a {
    color: rgb(15, 129, 158);
}

div.header div:nth-child(2) {
    flex-grow: 6;
}

div.header div:nth-child(3) {
    flex-grow: 0.5;
    text-decoration: none;
    font-size: 17px;
}

div.header div:nth-child(3) a {
    color: rgb(104, 104, 104);
}

div.header div:nth-child(4) {
    flex-grow: 0.5;
}

div.header div:nth-child(4) button {
    border: 1px solid rgb(15, 129, 158);
    border-radius: 5%;
    color: rgb(15, 129, 158);
    font-size: 15px;
    height: 50px;
    width: 75%;
}