/* Header */

.error {
    border: 2px solid darkred;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: palevioletred;
    color: darkred;
}

.success {
    border: 2px solid darkgreen;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: darkseagreen;
    color: darkgreen;
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    height: 75px;
    text-align: center;
    line-height: 70px;
}

.text_center {
    text-align: center;
}

.clickeable {
    cursor: pointer;
}

div.header a {
    text-decoration: none;
}

div.header div:nth-child(1) {
    flex-grow: 0.4;
    font-size: 25px;
    font-weight: bold;
}

div.header div:nth-child(1) a {
    color: rgb(15, 129, 158);
}

.header .blank {
    flex-grow: 6;
}

div.header div:nth-child(3) {
    flex-grow: 0.5;
    text-decoration: none;
    font-size: 17px;
}

div.header div:nth-child(3) a {
    color: rgb(104, 104, 104);
}

div.header div:nth-child(4) {
    flex-grow: 0.5;
}

div.header div:nth-child(4) button {
    border: 1px solid rgb(15, 129, 158);
    border-radius: 5%;
    color: rgb(15, 129, 158);
    background-color: white;
    font-size: 15px;
    height: 50px;
    width: 75%;
    cursor: pointer;
}

/* Index page */

#container_title {
    width: 85%;
    margin: 50px auto;
    text-align: center;
}

#container_title h1 {
    /* margin: auto; */
	font-size: 30px;
	color: rgb(7, 109, 134)
}

#container_box {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post_index {
    width: 26%;
}

.post_index img {
    width: 100%;
    border: 3px solid rgb(15, 129, 158);
    height: 250px;
}

.display_nb {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

/* Pagination */

.pagination {
	display: flex;
	width: 20%;
    margin: auto;
    justify-content: center;
}
  
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}
  
.pagination a.active {
	background-color: rgb(15, 129, 158);
	color: white;
}
  
.pagination a:hover:not(.active) {
	background-color: #ddd;
}

/* Footer */

#footer {
    width: 90%;
    margin: 50px auto 0 auto;
    border-top: 1px solid rgb(15, 129, 158);
    padding-top: 15px;
    font-style: italic;
}

/* Container for almost every page */

#wrapper {
    width: 80%;
    margin: auto;
}

/* Montage page */

#container {
    min-height: 500px;
    margin-top: 40px;
    display: flex;
}

#main {
    width: 80%;
}

#side {
    width: 20%;
    border: 1px solid rgb(15, 129, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#side h2 {
    color: rgb(15, 129, 158);
    font-weight: bold;
    text-decoration: underline;
}

.user_posts {
    max-width: 100%;
    margin-bottom: 1px;
    display: flex;
    position: relative;
}

.user_posts img {
    width: 95%;
    margin: auto;
    max-height: 160px;
}

.hidden {
    display: none;
}

.user_posts:hover .hidden {
    display: block;
}

.remove {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
}

.post {
    position: absolute;
}

#display_filters {
    display: flex;
    flex-direction: row;
    max-height: 200px;
}

#display_filters img {
    margin-right: 10px;
    width: 20%;
}

.selected_filter {
    border: 5px solid rgb(15, 129, 158);
}

/* Plus button */

.buttonplus {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px!important;
    border-radius: 50%;
    color: #fff!important;
    background-color: rgb(15, 129, 158)!important;
    outline: none;
}

/*
    Create user form css start
 */

.create_user_body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.create_user_absolute_title {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding-right: 30px;
    padding-left: 16px;
    text-align: center;
    margin-left: 36%;
}

.create_user_title {
    display:block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: rgb(10, 86, 104);
    font-size: 15px;
}

.create_user_join {
    font-size: 15px;
    color: rgb(15, 129, 158);
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    position: relative;
    top: 15px;
}

.create_user_absolute_form {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding-right: 30px;
    padding-left: 16px;
    top: 80px;
    margin-left: 36%;
}

.asterix_obligatory {
    color: darkred;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.create_user_inputs{
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
    background-color: #fafbfc;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    border: 1px solid rgb(15, 129, 158);
}

.create_user_file_input {
    color: rgb(15, 129, 158);
    margin-bottom: 12px;
}

.input_text {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 500;
}

.create_user_submit {
    width:100%;
    background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
    border: 1px solid rgb(15, 129, 158);
    border-radius: 4px;
    font-size: 12px;
    color:#fff;
    margin-left: 4px;
}

.create_user_submit:hover {
    background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
}

.create_user_error_msg {
    background-color: red;
    margin-bottom:10px;
}

@media screen and (max-width: 780px) {
    .create_user_body {
        background-color: #fff;
    }

    .create_user_absolute_title {
        width: 100%;
        padding-left: 16px;
        text-align: center;
        margin-left: 0%;
    }

    .create_user_title {
        display:none;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    }

    .create_user_join {
        font-size: 19px;
        color: rgb(15, 129, 158);
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    }

    .create_user_absolute_form {
        width: 100%;
        max-width: 100%;
        padding-right: 30px;
        padding-left: 16px;
        margin-left: 0%;
    }

    .asterix_obligatory {
        color: darkred;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    }

    .create_user_inputs{
        width: 100%;
        border-radius: 5px;
        font-size: 22px;
        background-color: #fafbfc;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        border: 1px solid rgb(15, 129, 158);
    }

    .create_user_file_input {
        color: rgb(15, 129, 158);
        margin-bottom: 12px;
    }

    .input_text {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        margin-bottom: 2px;
        font-size: 20px;
        font-weight: 500;
    }

    .create_user_submit {
        width:100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color:#fff;
        margin-left: 4px;
    }

    .create_user_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .create_user_error_msg {
        background-color: red;
        margin-bottom:10px;
    }
}

/*
Create user form css end
 */

/*
Login view css start
 */

.grey_background {
    background-color: #f9f9f9;
}

.sign_in_absolute_title {
    padding-right: 30px;
    padding-left: 16px;
    min-width: 300px;
    max-width: 400px;
    width: 30%;
    text-align: center;
    margin-left: 36%;
}

.sign_in_title {
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: rgb(10, 86, 104);
    position: relative;
    font-size: 18px;
    font-weight: 300;
}

.sign_in_absolute_form {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding-right: 30px;
    padding-left: 16px;
    top: 80px;
    margin-left: 36%;
}


.sign_in_inputs{
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    border: 1px solid rgb(15, 129, 158);
}

.sign_in_submit {
    width: 100%;
    background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
    border: 1px solid rgb(15, 129, 158);
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    margin-left: 4px;
}

.pass_rec_submit {
    width: 100%;
    background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    border: 1px solid rgb(15, 129, 158);
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    margin-left: 4px;
}

.password_rec_wrapper {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding-right: 30px;
    padding-left: 16px;
    top: 80px;
    margin-left: 36%;
}

.pass_rec_inputs {
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    border: 1px solid rgb(15, 129, 158);
    background-color: #efefef;
}

.submit_change_password_rec {
    width: 100%;
    background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
    border: 1px solid rgb(15, 129, 158);
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    margin-left: 4px;
}

.sign_in_submit:hover {
    background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
}

.sign_in_error_msg {
    background-color: red;
    margin-bottom:10px;
}

.sign_in_form {
    padding: 20px;
    padding-right: 30px;
    border: 1px dotted rgb(15, 129, 158);
    border-radius: 5px;
    background-color: #fff;
}

@media screen and (max-width: 780px) {

    .sign_in_absolute_title {
        padding-right: 16px;
        padding-left: 16px;
        max-width: 100%;
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }

    .sign_in_title {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        font-size: 22px;
        font-weight: 300;
        left: 0;
    }

    .sign_in_absolute_form {
        width: 100%;
        max-width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin-left: 0%;
    }

    .sign_in_form {
        padding: 20px;
        padding-right: 30px;
        border: 1px dotted blue;
        border-radius: 5px;
        background-color: #fff;
    }

    .sign_in_inputs{
        width: 100%;
        border-radius: 5px;
        font-size: 22px;
        background-color: #fff;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        border: 1px solid rgb(15, 129, 158);
    }

    .sign_in_submit {
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .sign_in_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .pass_rec_submit {
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .submit_change_password_rec{
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .pass_rec_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .sign_in_error_msg {
        background-color: red;
        margin-bottom:10px;
    }
}
