/* Header */

html {
    font-family: Montserrat;
}

.error {
    border: 2px solid darkred;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: palevioletred;
    color: darkred;
}

.success {
    border: 2px solid darkgreen;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: darkseagreen;
    color: darkgreen;
}

.success_msg {
    border: 2px solid darkgreen;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: darkseagreen;
    color: darkgreen;
    width: 90%;
    margin: auto;
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    height: 75px;
    text-align: center;
    line-height: 70px;
}

.text_center {
    text-align: center;
}

.clickeable {
    cursor: pointer;
}

div.header a {
    text-decoration: none;
}

div.header #elem1 {
    flex-grow: 0.4;
    font-size: 25px;
    font-weight: bold;
}

div.header #elem1 a {
    color: rgb(15, 129, 158);
}

#elem2 {
    flex-grow: 6;
}
.profile_pic_wrapper_header {
    position: relative;
    width: 35px;
    border-radius: 25px;
    margin-left: 5px;
    top: 12px;
    display: inline-block;
}

.profile_pic_header {
    width: 100%;
    height: 35px;
    border-radius: 200px;
}

.current_user_header {
    display: inline;
}

@media screen and (max-width: 780px) {
    .current_user_header {
        display: none;
    }
    .profile_pic_wrapper_header {
        position: relative;
        width: 50px;
        border-radius: 25px;
        margin-left: 5px;
        top: 19px;
        display: inline-block;
    }

    .profile_pic_header {
        width: 100%;
        height: 50px;
        border-radius: 200px;
    }
}

div.header #elem3 {
    display: block;
    flex-grow: 0.5;
    text-decoration: none;
    font-size: 17px;
}

div.header #elem3 a {
    color: rgb(104, 104, 104);
}

div.header #elem4 {
    flex-grow: 0.5;
}

div.header #elem4 button {
    border: 1px solid rgb(15, 129, 158);
    border-radius: 5%;
    color: rgb(15, 129, 158);
    background-color: white;
    font-size: 15px;
    height: 50px;
    width: 75%;
}

/* Index page */

#container_title {
    width: 85%;
    margin: 50px auto;
    text-align: center;
}

#container_title h1 {
    /* margin: auto; */
	font-size: 30px;
	color: rgb(7, 109, 134)
}

#container_box {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post_index {
    width: 26%;
}

.post_index_img {
    width: 100%;
    border: 3px solid rgb(15, 129, 158);
    height: 250px;
}

.post_index_heart {
    width: 20px;
}

.like_post {
    display:inline-block;
}

.comment_post_link {
    text-decoration: none;
}

.post_index_heart {
    transform: scale(1);
    width: 25px;
    height: 25px;
}

.post_index_heart.animate {
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    0%   {width: 25px; height: 25px;}
    50%  {width: 50px; height: 50px;}
    100% {width: 25px; height: 25px;}
}

.comment_post {
    display: inline-block;
    text-decoration: none;
}

.display_nb {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

/* Pagination */

.pagination {
	display: flex;
	width: 20%;
    margin: auto;
    justify-content: center;
}
  
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}
  
.pagination a.active {
	background-color: rgb(15, 129, 158);
	color: white;
}
  
.pagination a:hover:not(.active) {
	background-color: #ddd;
}

/* Footer */

#footer {
    width: 90%;
    margin: 50px auto 0 auto;
    border-top: 1px solid rgb(15, 129, 158);
    padding-top: 15px;
    font-style: italic;
}

/* Container for almost every page */

#wrapper {
    width: 80%;
    margin: auto;
}

/* Montage page */

#container {
    min-height: 500px;
    margin-top: 40px;
    display: flex;
}

#main {
    width: 80%;
}

#side {
    width: 20%;
    border: 1px solid rgb(15, 129, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#side h2 {
    color: rgb(15, 129, 158);
    font-weight: bold;
    text-decoration: underline;
}

.user_posts {
    max-width: 100%;
    margin-bottom: 1px;
    display: flex;
    position: relative;
}

.user_posts img {
    width: 95%;
    margin: auto;
    max-height: 160px;
}

.hidden {
    display: none;
}

.user_posts:hover .hidden {
    display: block;
}

.remove {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
}

.post {
    position: absolute;
}

#canvas_container {
    width: 60%;
    margin: auto;
}

#filters {
    text-align: center;
}

#display_filters {
    width: 80%;
    max-height: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#display_filters img {
    margin-right: 10px;
    width: 20%;
}

.unselected_filter {
    border: 5px solid transparent;
}

.selected_filter {
    border: 5px solid rgb(15, 129, 158);
}

.flex {
    display: flex;
    /* justify-content: space-around; */
}

.right {
    justify-content: flex-end;
}

#submit_btns {
    width: 40%;
    display: inline-block;
}

#submit_btns button {
    border: 1px solid rgb(15, 129, 158);
    color: rgb(15, 129, 158);
    width: 40%;
    height: 40px;
    font-size: 13px;
    outline: none;
}

#save_btn {
    
}

#post_btn {

}

/* Plus button */

.buttonplus {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px!important;
    border-radius: 50%;
    color: #fff!important;
    background-color: rgb(15, 129, 158)!important;
    outline: none;
}

/*
    Create user form css start
 */

.create_user_body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.create_user_absolute_title {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding-right: 30px;
    padding-left: 16px;
    text-align: center;
    margin-left: 36%;
}

.create_user_title {
    display:block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: rgb(10, 86, 104);
    font-size: 15px;
}

.create_user_join {
    font-size: 15px;
    color: rgb(15, 129, 158);
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    position: relative;
    top: 15px;
}

.create_user_absolute_form {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding-right: 30px;
    padding-left: 16px;
    top: 80px;
    margin-left: 36%;
}

.asterix_obligatory {
    color: darkred;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.format_login {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    display:none;
    margin-bottom: 5px;
    font-size: 12px;
    font-style: italic;
    border: 1px dotted green;
    border-radius: 5px;
}

.format_password {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    display:none;
    margin-bottom: 5px;
    font-size: 12px;
    font-style: italic;
    border: 1px dotted green;
    border-radius: 5px;
}

.create_user_inputs{
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
    background-color: #fafbfc;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    border: 1px solid rgb(15, 129, 158);
}

.create_user_pass_verif {
    margin-bottom: 10px;
}

.create_user_file_input {
    color: rgb(15, 129, 158);
    margin-bottom: 12px;
}

.input_text {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 500;
}

.create_user_submit {
    width:100%;
    background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
    border: 1px solid rgb(15, 129, 158);
    border-radius: 4px;
    font-size: 12px;
    color:#fff;
    margin-left: 4px;
}

.create_user_submit:hover {
    background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
}

.create_user_error_msg {
    background-color: red;
    margin-bottom:10px;
}

@media screen and (max-width: 780px) {
    .create_user_body {
        background-color: #fff;
    }

    .create_user_absolute_title {
        width: 100%;
        padding-left: 16px;
        text-align: center;
        margin-left: 0%;
    }

    .create_user_title {
        display:none;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    }

    .create_user_join {
        font-size: 19px;
        color: rgb(15, 129, 158);
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    }

    .create_user_absolute_form {
        width: 100%;
        max-width: 100%;
        padding-right: 30px;
        padding-left: 16px;
        margin-left: 0%;
    }

    .asterix_obligatory {
        color: darkred;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    }

    .create_user_inputs{
        width: 100%;
        border-radius: 5px;
        font-size: 22px;
        background-color: #fafbfc;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        border: 1px solid rgb(15, 129, 158);
    }

    .create_user_file_input {
        color: rgb(15, 129, 158);
        margin-bottom: 12px;
    }

    .input_text {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        margin-bottom: 2px;
        font-size: 20px;
        font-weight: 500;
    }

    .create_user_submit {
        width:100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color:#fff;
        margin-left: 4px;
    }

    .create_user_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .create_user_error_msg {
        background-color: red;
        margin-bottom:10px;
    }
}

/*
Create user form css end
 */

/*
Login view css start
 */

.grey_background {
    background-color: #f9f9f9;
}

.sign_in_absolute_title {
    padding-right: 30px;
    padding-left: 16px;
    min-width: 300px;
    max-width: 400px;
    width: 30%;
    text-align: center;
    margin-left: 36%;
}

.sign_in_title {
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: rgb(10, 86, 104);
    position: relative;
    font-size: 18px;
    font-weight: 300;
}

.sign_in_absolute_form {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding-right: 30px;
    padding-left: 16px;
    top: 80px;
    margin-left: 36%;
}


.sign_in_inputs{
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    border: 1px solid rgb(15, 129, 158);
}

.sign_in_submit {
    width: 100%;
    background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
    border: 1px solid rgb(15, 129, 158);
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    margin-left: 4px;
}

.pass_rec_submit {
    width: 100%;
    background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    border: 1px solid rgb(15, 129, 158);
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    margin-left: 4px;
}

.password_rec_wrapper {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding-right: 30px;
    padding-left: 16px;
    top: 80px;
    margin-left: 36%;
}

.pass_rec_inputs {
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    border: 1px solid rgb(15, 129, 158);
    background-color: #efefef;
}

.submit_change_password_rec {
    width: 100%;
    background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
    border: 1px solid rgb(15, 129, 158);
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    margin-left: 4px;
}

.sign_in_submit:hover {
    background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
}

.sign_in_error_msg {
    background-color: red;
    margin-bottom:10px;
}

.sign_in_form {
    padding: 20px;
    padding-right: 30px;
    border: 1px dotted rgb(15, 129, 158);
    border-radius: 5px;
    background-color: #fff;
}

@media screen and (max-width: 780px) {

    .sign_in_absolute_title {
        padding-right: 16px;
        padding-left: 16px;
        max-width: 100%;
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }

    .sign_in_title {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
        font-size: 22px;
        font-weight: 300;
        left: 0;
    }

    .sign_in_absolute_form {
        width: 100%;
        max-width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin-left: 0%;
    }

    .sign_in_form {
        padding: 20px;
        padding-right: 30px;
        border: 1px dotted blue;
        border-radius: 5px;
        background-color: #fff;
    }

    .sign_in_inputs {
        width: 100%;
        border-radius: 5px;
        font-size: 22px;
        background-color: #fff;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        border: 1px solid rgb(15, 129, 158);
    }

    .sign_in_submit {
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .sign_in_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .pass_rec_submit {
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .submit_change_password_rec {
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .pass_rec_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .sign_in_error_msg {
        background-color: red;
        margin-bottom: 10px;
    }
}
/* Profile css */

@media screen and (max-width: 780px) {
    .sign_in_absolute_title {
        padding-right: 16px;
        padding-left: 16px;
        max-width: 100%;
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }

    .sign_in_title {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        font-size: 22px;
        font-weight: 300;
        left: 0;
    }

    .sign_in_absolute_form {
        width: 100%;
        max-width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin-left: 0%;
    }

    .sign_in_form {
        padding: 20px;
        padding-right: 30px;
        border: 1px dotted blue;
        border-radius: 5px;
        background-color: #fff;
    }

    .sign_in_inputs{
        width: 100%;
        border-radius: 5px;
        font-size: 22px;
        background-color: #fff;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        border: 1px solid rgb(15, 129, 158);
    }

    .sign_in_submit {
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .sign_in_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .pass_rec_submit {
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .submit_change_password_rec{
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .pass_rec_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .sign_in_error_msg {
        background-color: red;
        margin-bottom:10px;
    }
}


@media screen and (max-width: 780px) {
    .sign_in_absolute_title {
        padding-right: 16px;
        padding-left: 16px;
        max-width: 100%;
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }

    .sign_in_title {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        font-size: 22px;
        font-weight: 300;
        left: 0;
    }

    .sign_in_absolute_form {
        width: 100%;
        max-width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin-left: 0%;
    }

    .sign_in_form {
        padding: 20px;
        padding-right: 30px;
        border: 1px dotted blue;
        border-radius: 5px;
        background-color: #fff;
    }

    .sign_in_inputs{
        width: 100%;
        border-radius: 5px;
        font-size: 22px;
        background-color: #fff;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        border: 1px solid rgb(15, 129, 158);
    }

    .sign_in_submit {
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .sign_in_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .pass_rec_submit {
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .submit_change_password_rec{
        width: 100%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        border-radius: 4px;
        font-size: 22px;
        color: #fff;
        margin-left: 4px;
        margin-top: 30px;
    }

    .pass_rec_submit:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .sign_in_error_msg {
        background-color: red;
        margin-bottom:10px;
    }
}

/* Profile css */
.profile_wrapper {
    width: 30%;
    max-width: 400px;
    border: 2px solid rgb(15, 129, 158);
    position: relative;
    font-size: 16px;
    border-radius: 5px;
    margin: auto;
}

.profile_texts {
    text-align: center;
    border-bottom: 1px solid rgb(15, 129, 158);
    padding-bottom: 10px;
    padding-top: 25px;
    margin: 0px;
    background: linear-gradient(#ffffff, #efefef, #ffffff);
}

.profile_texts:hover {
    background: linear-gradient(#efefef, #ffffff, #efefef);
}

.profile_profile_pic {
    border-radius: 200px;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 37%;
    top: -50px;
    border: 2px solid rgb(15, 129, 158);
    background-color: #ffffff;
}

.profile_first_input {
    padding-top: 75px;
}

.profile_description {
    display: block;
    text-align: center;
    font-size: 16px;
    margin: auto;
    margin-bottom: 60px;
    position: relative;
    width: 30%;
    max-width: 400px;
    border: 2px solid rgb(15, 129, 158);
}

.profile_cat_img {
    height: 39px;
    position: relative;
    top: 9px;
}

.update_buttons_login {
    display: none;
    font-size: 16px;
    position: absolute;
    border-bottom: 2px solid rgb(15, 129, 158);
    width: 100%;
    height: 115px;
}


.update_buttons_email {
    display: none;
    font-size: 16px;
    position: absolute;
    border-bottom: 2px solid rgb(15, 129, 158);
    width: 100%;
    height: 50px;
    text-align: center;
}

.update_button_notif {
    display: none;
    font-size: 16px;
    position: absolute;
    border-bottom: 2px solid rgb(15, 129, 158);;
    border-right: 2px solid rgb(15, 129, 158);;
    border-left: 2px solid rgb(15, 129, 158);;
    width: 100%;
    height: 80px;
    left: -2px;
    text-align: center;
}

.profile_change_buttons {
    font-size: 17px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: 2px solid rgb(15, 129, 158);
}

.update_buttons_login_animate {
    display:block;
}

.profile_buttons_links {
    background-color: red;
    text-decoration: none;
}

.form_wrapper {
    text-align: center;
    padding-right: 15px;
    padding-left: 5px;
    max-width: 400px;
    margin: auto;
}

.profile_inputs {
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: #efefef;
    margin-bottom: 15px;
}

.profile_inputs_file {
    color: rgb(15, 129, 158);
    margin-bottom: 12px;
    font-size: 16px;
    border: 2px solid rgb(15, 129, 158);
}

.text_inputs {
    font-size: 20px;
    margin-bottom: 5px;
}

.submit_update {
    width: 102%;
    background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
    border: 1px solid rgb(15, 129, 158);
    margin: auto;
    font-size: 20px;
    border-radius: 5px;
    color: #ffffff;
}
.profile_submit_change_login:hover {
    background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
}

.opened {
    display:block;
}

.format_login {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    display:none;
    margin-bottom: 5px;
    font-size: 16px;
    font-style: italic;
    border: 1px dotted green;
    border-radius: 5px;
}

.format_password {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    display:none;
    margin-bottom: 5px;
    font-size: 16px;
    font-style: italic;
    border: 1px dotted green;
    border-radius: 5px;
}


/* Profile css */
@media screen and (max-width: 550px) {
    .profile_cat_img {
        display: none;
    }

    .profile_wrapper {
        width: 100%;
        max-width: 100%;
        border: 2px solid rgb(15, 129, 158);
        margin-top:50px;
        position: relative;
        font-size: 24px;
        border-radius: 5px;
    }

    .profile_texts {
        text-align: center;
        border-bottom: 1px solid rgb(15, 129, 158);
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
        background: linear-gradient(#ffffff, #efefef, #ffffff);
    }

    .profile_texts:hover {
        background: linear-gradient(#efefef, #ffffff, #efefef);
    }

    .profile_profile_pic {
        border-radius: 200px;
        position: absolute;
        width: 100px;
        height: 100px;
        left: 36%;
        top: -50px;
        border: 2px solid rgb(15, 129, 158);
        background-color: #ffffff;
    }

    .profile_first_input {
        padding-top: 50px;

    }

    .profile_description {
        display:none;
    }

    .update_buttons_login {
        display: none;
        font-size: 16px;
        position: absolute;
        border-bottom: 2px solid rgb(15, 129, 158);
        width: 100%;
        height: 115px;
    }


    .update_buttons_email {
        display: none;
        font-size: 16px;
        position: absolute;
        border-bottom: 2px solid rgb(15, 129, 158);
        width: 100%;
        height: 50px;
        text-align: center;
    }

    .update_button_notif {
        display: none;
        font-size: 16px;
        position: absolute;
        border-bottom: 2px solid rgb(15, 129, 158);;
        border-right: 2px solid rgb(15, 129, 158);;
        border-left: 2px solid rgb(15, 129, 158);;
        width: 100%;
        height: 80px;
        left: -2px;
        text-align: center;
    }

    .profile_change_buttons {
        font-size: 17px;
        display: block;
        margin: auto;
        margin-top: 10px;
        border: 2px solid rgb(15, 129, 158);
    }

    .update_buttons_login_animate {
        display:block;
    }

    .profile_buttons_links {
        background-color: red;
        text-decoration: none;
    }

    .form_wrapper {
        text-align: center;
        padding-right: 15px;
        padding-left: 5px;
    }

    .profile_inputs {
        font-size: 20px;
        width: 100%;
        border-radius: 5px;
        background-color: #efefef;
        margin-bottom: 15px;
    }

    .profile_inputs_file {
        color: rgb(15, 129, 158);
        margin-bottom: 12px;
        font-size: 16px;
        border: 2px solid rgb(15, 129, 158);
    }

    .text_inputs {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .submit_update {
        width: 102%;
        background: linear-gradient(rgb(15, 129, 158), rgb(45, 159, 188));
        border: 1px solid rgb(15, 129, 158);
        margin: auto;
        font-size: 20px;
        border-radius: 5px;
        color: #ffffff;
    }
    .profile_submit_change_login:hover {
        background: linear-gradient(rgb(45, 159, 188), rgb(15, 129, 158));
    }

    .opened {
        display:block;
    }

    .format_login {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        display:none;
        margin-bottom: 5px;
        font-size: 16px;
        font-style: italic;
        border: 1px dotted green;
        border-radius: 5px;
    }

    .format_password {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
        display:none;
        margin-bottom: 5px;
        font-size: 16px;
        font-style: italic;
        border: 1px dotted green;
        border-radius: 5px;
    }
}

/* comments section */

.comments_wrapper {
    border: 2px solid rgb(15, 129, 158);
    border-radius: 5px;
    max-width: 700px;
    min-width: 400px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.comment_title {
    text-align: center;
}

.comment {
    word-break: break-all;
    position: relative;
    margin-bottom: 0px;
    right: -50px;
    top: -25px;
    max-width: 90%;
}

.poster {
    margin-left: 50px;
    font-weight: 600;
    top: -15px;
    position: relative;
}

.comment_profile_pic {
    height: 40px;
    position: absolute;
    border-radius: 250px;
}

.message {
    width: 99.3%;
    resize: none;
    height: 50px;
    font-size: 15px;
}

.create_comment_submit {
    width: 100%;
    height: 45px;
    font-size: 20px;
}

.post_description_wrapper {
    text-align: center;
}

.post_description_pic {
    height: 70px;
    display: block;
    margin: auto;
    border-radius: 250px;
}

.post_description_img {
    width: 100%;
    max-width: 700px;
}

.post_description_creator {
    font-weight: 600;
}

.message_wrapper {
    max-width: 720px;
    margin: auto;
    margin-bottom: 15px;
    width: 50%;
}

@media screen and (max-width: 550px) {

    body {
        margin: 0px;
    }

    .message_wrapper {
        max-width: 720px;
        margin: auto;
        margin-bottom: 15px;
        width: 90%;
    }

    .comments_wrapper {
        border: 1px solid rgb(15, 129, 158);
        border-radius: 5px;
        max-width: 100%;
        min-width: 100%;
        margin: auto;
        width: 100%;
        padding: 2px;
    }

    .comment {
        word-break: break-all;
        position: relative;
        margin-bottom: 0px;
        right: -50px;
        top: -25px;
        max-width: 80%;
    }

    .message {
        width: 98%;
        resize: none;
        height: 50px;
        font-size: 15px;
        border: 1px solid rgb(15, 129, 158);
        background-color: #efefef;
    }

    .create_comment_submit {
        width: 99.8%;
        height: 45px;
        border: 1px solid rgb(15, 129, 158);
    }

}